.delete {
  background-color: #ddd;
  padding: 0.3rem 0.6rem;
  line-height: 1rem;
  border: 1px solid transparent;
  font-size: 0.8rem;
  font-family: var(--type-first);
  cursor: pointer;
  transition-duration: 0.3s;
}

.delete:focus,
.delete:hover {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}
